NIFI_REGISTRY_ENABLED=true
NIFI_REGISTRY=http://localhost:18080/nifi-registry
NIFI_REGISTRY_BUCKETNAME=testbucket
EFM_DB_URL= jdbc:mysql://xxx:3306/efm?serverTimezone=UTC
EFM_DB_DRIVER=com.mysql.cj.jdbc.Driver
EFM_DB_USERNAME=xxx
EFM_DB_PASSWORD=xxx